body {
    background-color: #171717;
    overflow: hidden;
    cursor: default;
    user-select: none;
}



/* heading */

.heading {
    color:rgb(218, 0, 55);
    position: absolute;
    font-family: Verdana;
    text-align: left;
    font-weight: 700;
    font-size:60px;
    top: 20%;
    right: 33%;
    transform: translate(50%, -50%);
    text-align: left;
}

.desc {
    color:#EDEDED;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400w;
    position: absolute;
    top: 29%;
    right: 35%;
}

.mail:link, .mail:visited {
    background-color: #DA0037;
    border-radius: 25px;
    color: #EDEDED;
    padding: 14px 25px;
    font-family: verdana;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-shadow:#0000 3px;
    position: absolute;
    top: 35%;
    right: 46.5%;
    transition: 0.3s;
  }

  .mail:hover{
    filter: opacity(70%);

  }

  /* deco */

  .saint{
      color: #1a1a1a;
      position: absolute;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-weight: 550;
      font-size: 300px;
      transform: rotate(90deg);
      right: -400px;
      top: 40%;
  }

  .back{
      color: #DA0037;
      text-decoration: none;
      font-family: Verdana;
      padding: 14px 25px;
      font-weight: 600;
      background-color: #171717;
      border-radius: 20px;
      display: inline-block;
      position: absolute;
      transition: 0.3s;

 }

   .back:hover{
       color:#EDEDED;
       background-color: #313131;
   }

   .banner{
       position: absolute;
       background-color: #1d1d1d;
       box-shadow:
       2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
       6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
       12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
       22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
       41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
       100px 100px 80px rgba(0, 0, 0, 0.07);
       border-radius: 10px;
       right: 40%;
       top: 90%;

   }

   .garis{
       background-color: #DA0037;
       height: 450px;
       width: 2px;
       position: absolute;
       right: 90%;
       top: 80%;
   }

   .garislagi{
       background-color: #DA0037;
       height: 350px;
       width: 2px;
       position: absolute;
       right: 10%;
       top: 0.1%;
   }





  /* mobile version (this is frustating #2) */

@media only screen and (max-width: 600px) {

    body {
        background-color: #171717;
        overflow: hidden;
    }



    .heading {
        color:rgb(218, 0, 55);
        position: absolute;
        font-family: Verdana;
        font-weight: 700;
        font-size:40px;
        top: 20%;
        right: 5%;
        transform: translate(50%, -50%);
        text-align: left;
    }

    .desc {
        color:#EDEDED;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        font-size: 13px;
        font-weight: 400w;
        position: absolute;
        top: 29%;
        right: 5%;
    }

    .mail:link, .mail:visited {
        background-color: #DA0037;
        border-radius: 25px;
        color: #EDEDED;
        padding: 14px 25px;
        font-family: verdana;
        font-weight: 600;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        box-shadow:#0000 3px;
        position: absolute;
        top: 35%;
        right: 33.5%;
        transition: 0.3s;
      }

      .saint{
        color: #1a1a1a;
        position: absolute;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 550;
        font-size: 0px;
        transform: rotate(90deg);
        right: -400px;
        top: 40%;
    }

    .banner{
        position: absolute;
        background-color: #1d1d1d;
        box-shadow:
        2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
        6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
        12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
        22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
        41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
        100px 100px 80px rgba(0, 0, 0, 0.07);
        border-radius: 10px;
        block-size: 70px;
        right: 6%;
        top: 85%;
 
    }

    .back{
        color: #DA0037;
        text-decoration: none;
        font-family: Verdana;
        padding: 14px 25px;
        font-weight: 600;
        background-color: #171717;
        border-radius: 20px;
        display: inline-block;
        position: absolute;
        transition: 0.3s;
        right: 40%;
  
   }

   .garis{
    background-color: #DA0037;
    height: 450px;
    width: 2px;
    position: absolute;
    right: 90%;
    top: 80%;
    z-index: -1;
}

.garislagi{
    background-color: #DA0037;
    height: 350px;
    width: 2px;
    position: absolute;
    right: 10%;
    top: 0.1%;
    z-index: -1
}






}