/* heading */


.saint{
    color:#DA0037;
    position: absolute;
    font-family: Verdana;
    text-align: center;
    font-weight: 700;
    font-size:110px;
    transform: translate(50%, -50%);
    top: 50%;
    right: 50%
}
/* deskripsi */

.desc{
    color:#EDEDED;
    font-family: verdana;
    font-weight: 500;
    position: absolute;
    top: 57%;
    right: 56%;
}

/* music player */

#play-pause-button{
    color:#DA0037;
    font-size: 50px;
    cursor: pointer;
    position: absolute;
    transform: translate(50%, -50%);
    top: 95%;
    right: 50%
    
}

/* background */

body{
    background-color:#171717
}

  